/* aplicamos un estilo de fuente, altura de linea ara todo el cuerpo del documento */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* en esta parte se establece propiedades para el diseño visual de la seccion (display, justify-content, aling-items, padding, background-color y el border-bottom)  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #007bff;
  color: #fff;
  border-bottom: 1px solid #ccc;
}

/* con este estilo "main" establezco el ancho máximo que será de 800 píxeles y que se centrará horizontalmente en la página mediante  "margin" con valor "0 auto",ademas se añadirán 20 píxeles de relleno en el interior del elemento, que se aplicará un color de fondo de #f7f7f7, tambien añadirá un borde de 1 píxel sólido de color #ccc y que se aplicará una sombra a su alrededor mediante "box-shadow"*/
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* en esta seccion se establecen algunas propiedades de estilo para el elemento seccion como el relleno (padding), el color defondo (background-color) tambien el boede (border) y le agregue una sombra con (box-shadows) */

section {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

/* con H1, H2, defino el estilo que se aplicaran a todos los elementos <h1> como el color, el tamaño de la fuente y el margen inferior y la etiqueta <h2> con text-aling  alineamos el texto a la derecha  y tambien le asignamos una fuente y el margen de 30px */
h1 {
  font-size: 42px;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  margin-bottom: 30px;
  text-align: right;
}


/* con H3, H4, defino el estilo que se aplicaran a todos los elementos <h3,h4> como el color, el tamaño de la fuente y el margen inferior*/

h3 {
  color: #007bff;
  font-size: 24px;
  margin-bottom: 20px;
}

h4 {
  color: #555;
  font-size: 18px;
  margin-bottom: 10px;
}

/* (ul) y (li) estas secciones pertenecen a la definicion de estilo para las listas que no estan ordenadas,establezco un margen a la izquierda de 20 pixeles para todos y en el caso de (li) le extablezco el margen inferior de 10px para cada elemento de la fila */

ul {
  margin-left: 20px;
}

li {
  margin-bottom: 10px;
}

/* con esta etiqueta "footer" establezco la alineacion del texto en el centro con un margen superior de 50px */

footer {
  text-align: center;
  margin-top: 50px;
}

/* en esta seccion definimos el tamaño del elemento de 20px, el color del texto de #777 y un margen de 5px para todos los elemento "P" que se encuentra dentro del (footer) */

footer p {
  font-size: 20px;
  color: #777;
  margin-bottom: 5px;
}

/* le aplicamos a la etiqueta (img) el ancho (width) la altura (height) y el margen derecho (margin-right) tambien el radio de borde (border-radius) de la imagen en la web */

img {
  width: 150px;
  height: auto;
  margin-right: 20px;
  border-radius: 50%;
}

/* crearemos la tabla para aplicar al documento html donde se encontraran las habilidades y aptitudes*/   
    
/* donde establecemos */   

table {
  border-collapse: collapse; /* se establece que los borden de la tabla colapsen en un solo borde en lugar de tener los bordes separaddos */   
  width: 100%; /* establecemos el ancho de la tabla 100% del contenedor */
  margin-bottom: 20px;} /* establecemos el margen inferior de 20px a la tabla */
    
    .habilidades {   /* aplicamos una clase, para definir las reglas de las tablas */
        border-collapse: collapse;
        width: 100%;}
    
    .habilidades th, .hablidades td { /* aplicamos a las celdas del encabezado (th)y las celdas normales (td) */
        text-align: center; /* centramos los texto de las celdas */
        padding: 8px;} /* se establece el relleno de8px a las celdas */
    
    .hablidades tr:hover {  /* definimos un estilo donde se les aplicaran a las filas de la tabla cuando el mause se mueva sobre ella */
        background-color: darkcyan} /* establecemos el color del fondo de las filas  */
    
    table { /* se establece un margen centrado e la pagina */
        margin: 0 auto;}
    
    table {
        border-spacing: 0;  /* establece el espacion entre las celdas de la tabla en 0 */
        border-collapse: collapse;} /* se establece que los borden de la tabla colapsen en un solo borde en lugar de tener los bordes separaddos */ 
    